@tailwind base;
@tailwind components;
@tailwind utilities;

.screenshot {
    max-width: 1600px;
}

.img-move {
    margin-top: 2rem;
}

@media (min-width: 768px) { 
    .img-move {
     margin-top: 1rem;
    }
 }
 @media screen and (max-width: 600px) {
    .btn-display {
        display: none;
        visibility: hidden;
    }
 }

    .mobility {
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
 
 @media screen and (max-width: 600px) {
    .mobility {
        margin-top: 4rem;
    }
 }
 @media screen and (max-width: 600px) {
    .mobile-flow {
        overflow: hidden;
    }
 }
 @media screen and (max-width: 600px) {
    .title-mob {
        font-size: 3em;
    }
 }
 .grid-new {
    display: grid;
    grid-template-columns: repeat(2, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
  }
  @media (max-width: 671px) {
    .grid-new {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: max-content;      
    }
  }





     

 